{% block sidebar %}
    {% load tasks_tags %}


    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
        <div class="card my-4">
            <h5 class="card-header">Категории</h5>
            <ul class="nav nav-pills flex-column">
                {% get_categories as categories %}
                {% for category in categories %}
                    <li class="nav-item">
                        <div class="nav-link ml-2 mr-2 mt-2 {% if active_category and active_category == category.id %}active{% endif %}">
                            <a href="{% url 'by_category' category.id %}"
                               class="{% if active_category and active_category == category.id %}text-white{% endif %}">{{ category.title }}</a>
                            |
                            <a href="{{ category.get_absolute_url }}"
                               class="{% if active_category and active_category == category.id %}text-white{% endif %}"> О категории</a>
                        </div>
                    </li>
                {% endfor %}
                <hr class="m-2 border border-primary border-2 opacity-50">
                <li class="nav-item text-center ml-5 mr-5">
                    <a href="{% url 'home' %}" class="nav-link {% if active_category and active_category == "all" %}active{% endif %}">Все</a></li>
            </ul>
            <div class="card-body">
                <p class="card-text"> Здесь вы можете разделить новости по
                    отдельным категориям</p>
                <a href="{% url 'add_category' %}" class="btn btn-danger">Добавить категорию</a>
            </div>
        </div>
    </div>

{% endblock sidebar %}
